# Virtual environmnet
env

# 3rd party libraries
libs

# Python files
*.pyc
*__pycache__

# Machine-specific constants
constants.sh

# All temp files
*temp*

# Experiments directory
deepjoin/experiments*
